<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <link rel="icon" href="https://img.icons8.com/color/48/000000/vaporwave.png">

    <title>SURPRISE</title>
  </head>
  <body>
    <form class="box" action="hbd" method="POST">
      <input type="password" name="password" placeholder="Enter PIN">
      <input type="submit" name="" value="ENTER">
    </form>
       
</body>
</html>