<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-hbd.css') }}">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

    <script src="https://unpkg.com/scrollreveal@4"></script>

    <link rel="icon" href="https://img.icons8.com/color/48/000000/vaporwave.png">

    <title>HBD</title>
  </head>
  <body>
      <h1 class="head-1">Happy Birthday<br><span class="high">DIVYANSHI</span></h1>
      <p class="para">
        <span class="bae-head">DivC</span><br>
        <iframe src="https://player.vdocipher.com/playerAssets/1.x/vdo/embed/index.html#otp=20160313versASE323eptUs9gyyXcuSBeGnP5LzNw8uVc6ZzvNwxHK26dGMta8Wa&playbackInfo=eyJ2aWRlb0lkIjoiNWQ5MWY4ZWM0N2Y0NGE1OTgzYjdkYTdhODg0Y2E1OWEifQ==" style="border:0;height:215px;width:320px;max-width:100%" allowFullScreen="true" allow="encrypted-media"></iframe>
        
        <span class="bae">~shreyash</span><br><br><span class="end">----</span>
      </p>

  <script src="https://unpkg.com/scrollreveal"></script>

</body>
</html>